.topbar-appBar {
  height: 60px;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
